article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;color:#222;}
body{margin:0;font-size:1em;line-height:1.4;}
::-moz-selection{background:#333;color:#fff;text-shadow:none;}
::selection{background:#333;color:#fff;text-shadow:none;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;white-space:normal;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
.chromeframe{margin:0.2em 0;background:#ccc;color:black;padding:0.2em 0;}
html{width:100%;}
body{width:1024px;max-width:1300px;margin:1% auto;padding:2%;height:90%;}
h2{font-size:14px;text-transform:uppercase;color:#999;}
header,.sidebar,.main{background:#fdfdfd;}
.mainarea{background:#fdfdfd;border:1px solid #E1E1E8;border-top:0;float:left;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;margin-bottom:50px;padding-left:1px;padding-right:1px;}
.main{background:#fefefe;border-left:1px solid #E1E1E8;}
.sidebar,.main{min-height:400px;height:100%;padding:10px 0;}
.info{color:#999;font-weight:bold;text-transform:uppercase;}
.tag{padding:5px 10px;margin:5px 0;color:#333;border:1px solid #E1E1E8;background:#fafafa;border-radius:2px;max-width:200px;display:inline-block;position:relative;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.05);color:#999;font-size:14px;}
.tag:visited{color:#999;}
.tag:hover{text-decoration:none;background:#f0f0f0;border:1px solid #E1E1E8;color:#0a0a0a;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.08);}
header{height:40px;padding:40px 20px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;border:1px solid #E1E1E8;}header h1{font-size:48px;float:left;min-width:400px;max-width:30%;}
header form{line-height:48px;float:left;min-width:30%;}header form .searchfield{min-width:400px;}
header form .btn{margin-top:-2px;}
.sidebar{width:200px;max-width:300px;padding-left:10px;padding-right:10px;float:left;border-right:0;}.sidebar .menu{list-style:none;padding:0 0 0 10px;}.sidebar .menu li{line-height:40px;border-bottom:1px solid #E1E1E8;}.sidebar .menu li a{color:#333;display:block;}
.sidebar .menu li a:hover{text-decoration:none;background:#fff;}
.sidebar .menu li .imgtainer{width:60px;float:left;}
.sidebar .menu li .menutext{text-align:right;}
.main{width:779px;padding-left:10px;padding-right:10px;float:left;}
.recipe .edit-btn,.recipe .save-btn,.recipe .cancel-btn{display:none;float:right;}
.recipe .save-btn,.recipe .cancel-btn{display:block;}
.recipe .save-btn{margin-left:5px;}
.recipe textarea,.recipe input[type="text"]{width:600px;}
.recipe textarea{min-height:300px;}
.recipe:hover .edit-btn{display:block;}
@media only screen and (min-width:35em){}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
